@model MvcCvProject.Models.Entity.TblEducation

@{
    ViewBag.Title = "UpdateEducation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Eğitim Bilgisi Düzenleme Sayfası</h4>
<br />
<form method="post">
    @Html.Label("Başlık")
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Title, "", new { @style = "color:red" })
    <br />
    @Html.Label("Alt Başlık")
    @Html.TextBoxFor(x => x.SecondTitle, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.SecondTitle, "", new { @style = "color:red" })
    <br />
    @Html.Label("Açıklama")
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Description, "", new { @style = "color:red" })
    <br />
    @Html.Label("Genel Not Ortalaması (GNO)")
    @Html.TextBoxFor(x => x.TotalScore, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.TotalScore, "", new { @style = "color:blue" })
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>
